
.logo{
    display: flex;
    padding-left: 0.182px;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
}

li{
    display: flex;
    align-items: flex-start;
    gap: 71px;
    
}
nav{
    display: flex;
    /* width: 100vw; */
    padding: 12px 160px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

 body{
    background-color: #030303;
    font-family: Poppins;
    background-size: cover;
 }

 li ul a{
    color: white;
    text-decoration: none;
 }
 .sec1{
    padding-top: 32px;
    padding-bottom: 60px;
    display: flex;
    /* width: 100vw; */
    margin: 0px 160px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
 }
 .image{
    height: 180px;
    width: 180px;
 }
 .content{
    display: flex;
    margin: 0;
    padding: 0px 8px 0px 6px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 55px;
    font-weight: 800;

    text-align: center;
    /* align-self: stretch; */
 }
 p{
    color: var(--Secondary-Text, #C5C5C5);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.36px;
    width: 800px;
 }
 .button-1{

    width: 195px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid var(--Primary-Color, #FFF);
    color: #000;
    background: linear-gradient(0deg, var(--Primary-Color, #FFF) 0%, var(--Primary-Color, #FFF) 100%), var(--Primary-Color, #FFF);
    color: #161513;
    -webkit-text-stroke-width: 0.3246873915195465;
    -webkit-text-stroke-color: var(--Primary-Color, #FFF);
    font-family: Poppins;
    font-size: 21.38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}


 .button-2{
    width: 195px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid var(--Primary-Color, #FFF);
    
    background: #030303;
    color: #fff;
    -webkit-text-stroke-width: 0.3246873915195465;
    -webkit-text-stroke-color: var(--Primary-Color, #FFF);
    font-family: Poppins;
    font-size: 21.38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 

 }
 button:hover {

    border-radius: 12px;
    border-color: #9A33FF;
}
 .about-it{
    background: var(--Primary-Gradient, linear-gradient(116deg, #FF8660 71.79%, #9A33FF 95.51%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 63.357px;
 }

 a {
    text-decoration: none;
    color: #FFF;
 }


